node_modules/
.npm
.parcel-cache
.cache/

**/migrators/

dist/
build/
.next/
out/
build/Release
.storybook-out
lib-cov
.nuxt
.out
tmp/
temp/

**/uploads/
*.tsbuildinfo

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

pids
*.pid
*.pid.lock
*.seed
.eslintcache

*.tgz
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.turbo
.backup/

.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local
