@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: #111111;
        color: #fafafa;
        font-family: 'Instrument Sans', sans-serif;
        line-height: 1.6;
    }
}
